  <h3> Para acceder al sistema central de CÓDEX, primero deberán desbloquear su mecanismo de seguridad inicial para entrar al laboratorio: </h3>
  <h3>un firewall antiguo basado en algoritmos lógicos. Los ingenieros originales lo protegieron con un sudoku digital, ya que </h3>
<h3>solo una mente capaz de encontrar patrones y mantener coherencia lógica sería digna de avanzar. 
Resolverlo activará el primer puerto de acceso. </h3>
<img src = "~/img/sudoku.jpg" id = "sudoku"/>

<h3> Deberás completar los 3 cuadrados que están libres, solo escribiéndolos en orden ascendente podrán pasar </h3>
   <form method="post" action='@Url.Action("ResolverSala", "Home")'>
    <input type="text" name="respuesta" required/>
    <input type="submit" value="Escribir Codigo" />
</form>
