  <div class = "final"> 
  <h3> Han llegado al núcleo de CÓDEX, el corazón de la supercomputadora que controla todo.
Ante ustedes se despliega un antiguo terminal, cubierto de polvo y con su pantalla parpadeando en código críptico.
Para recodificar el sistema y retomar el control, deberán resolver un enigma dejado por los creadores del núcleo, una adivinanza que guarda la clave para desbloquear el acceso.
Solo aquellos que logren descifrarla podrán modificar las líneas maestras y salvar a la humanidad digital.</h3> 
  
  <h3> En líneas y símbolos me verás,
sin mí la máquina no funcionará.
Soy secreto, lenguaje sin voz,
traduzco ideas con precisión feroz.
¿Qué soy?</h3> 
</div>
   <img src = "~/img/nucleo.png" id = "nucleo"/>
   
   <form method="post" action='@Url.Action("ResolverSala", "Home")'>
    <input type="text" name="respuesta" required/>
    <input type="submit" value="Escribir Palabra" />
</form>
