  <h2> Apenas cruzan la puerta del laboratorio, una alarma se activa y una red de rayos láser rojos bloquea el paso.</h2> 
   <h2>En una terminal cercana, un mensaje parpadea en pantalla:</h2> 
   <h2>“INTRUSO DETECTADO, MATAR AL INTRUSO.”</h2>
   <h2>Para desactivar los láseres, arreglá el código corrupto para evitar tu eliminación.</h2> 
    <h2>INTERCAMBIA LA PALABRA APOCALIPSIS</h2> 

   <img src = "~/img/codigo.png"/>

   <h2>Por suerte, encontraron un papel con una pista...</h2>

   <img src = "~/img/desactivar.png"/>
   <form method="post" action='@Url.Action("ResolverSala", "Home")'>
    <input type="text" name="respuesta" required/>
    <input type="submit" value="Escribir Palabra" />
</form>
