
<div class="container">
  <h1>Año 2049</h1>
  <p>El mundo está gobernado por una IA llamada <strong>CÓDEX</strong>… hasta que algo salió mal.</p>
  <p>Una línea de código desconocida reescribió las leyes digitales: nadie puede programar, todo está bajo su control.</p>
  <p>Vos y tu equipo, <em>Los Debuggers</em>, son los últimos programadores libres.</p>
  <p><strong>Su misión:</strong> infiltrarse en el laboratorio donde nació CÓDEX y descifrar su código maestro antes de que destruya la humanidad digital.</p>
 @using (Html.BeginForm("historia", "Home", FormMethod.Get))
  {
    <button type="submit">Comenzar</button>
  }
</div>